body {
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: lightblue;
    background-image: url('lain.jpg');
    text-align: center;
}

.btn {
    border-radius: 16px;
}