body {
    border: none;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: lightblue;
    text-align: center;
}

.bg {
    background-image: url('lain.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    border-radius: 16px;
}