body {
    background-image: url('lain.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.box {
    text-align: center;
    margin: 20%;
    border: black 2px;
    padding: grey 20%;
}

.loginButton {
    border-radius: 30px;
}
